<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img
                        src="https://motchilltv.ac/_ipx/s_150x35/logo.png"
                        alt="logo"
                />
                <p class="text-white mt-4">
                    Motchill - Trang web xem phim trực tuyến miễn phí chất lượng cao
                    với giao diện trực quan, tốc độ tải trang nhanh, cùng kho phim với
                    hơn 10.000+ phim mới, phim hay, luôn cập nhật phim nhanh, hứa hẹn
                    sẽ đem lại phút giây thư giãn cho bạn.
                </p>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="mb-3">DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim mới</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="mb-3">DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim mới</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5 class="mb-3">DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim mới</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>