<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>

    <th:block id="css">
        <style>
            .password-input-container {
                position: relative;
            }

            .toggle-password {
                cursor: pointer;
            }

            #passwordInput {
                padding-right: 30px; /* to accommodate the eye icon */
            }
        </style>
    </th:block>

</head>
<body>
<th:block id="content">
    <section class="py-4 bg-body-secondary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h2>Đăng ký</h2>
                        <form id="form-register">
                            <div class="input-group mb-3 form-group">
                                <input type="text" class="form-control" placeholder="Nhập tên"  id="input-name" name="name">
                                <span class="input-group-text">Name</span>
                            </div>
                            <div class="input-group mb-3 form-group">
                                <input type="text" class="form-control" placeholder="Nhập email"  id="input-email" name="email">
                                <span class="input-group-text">Email</span>
                            </div>
                            <div class="password-input-container input-group mb-3 form-group">
                                <input type="password" id="passwordInput" class="form-control" placeholder="Nhập mật khẩu" name="password">
                                <span class="toggle-password input-group-text" id="togglePassword">
                            <i class="fa-solid fa-eye"></i>
                            </span>
                            </div>
                            <div class="password-input-container input-group mb-3 form-group">
                                <input type="password" id="passwordInputConfirm" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPassword">
                                <span class="toggle-password input-group-text" id="togglePasswordConfirm">
                            <i class="fa-solid fa-eye"></i>
                            </span>
                            </div>
                            <div>
                                <button id="btn-login" type="submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block id="js">
    <script th:inline="javascript">
        $('#form-register').validate({
            rules: {
                name: {
                    required:true,
                },
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                },
                confirmPassword:{
                    required:true,
                    equalTo: "#passwordInput",
                }
            },
            messages: {
                name:{
                    required: "Email k được để name",
                },
                email: {
                    required: "Email k được để trống",
                    email: "Email k đúng định dạng"
                },
                password: {
                    required: "Mật khẩu không được để trống",
                },
                confirmPassword:{
                    required:"Mật khẩu không được để trống",
                    equalTo: "Mật khẩu xác nhận không giống với mật khẩu",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        const formRegisterEl = document.getElementById("form-register");
        const nameEl = document.getElementById("input-name");
        const emailEl = document.getElementById("input-email");
        const  passwordEl = document.getElementById("passwordInput");
        const passwordConfirmEl = document.getElementById("passwordInputConfirm");

        formRegisterEl.addEventListener("submit", async (e)=>{
            e.preventDefault();

            if (!$('#form-register').valid()){
                return;
            }
            const data = {
                name: nameEl.value,
                email: emailEl.value,
                password: passwordEl.value,
                confirmPassword: passwordConfirmEl.value
            }

            // Gọi API
            try {
                let res = await axios.post("/api/auth/register", data);
                toastr.success("Đăng ký thành công")
                setTimeout(()=>{
                    window.location.href='/'
                },1000)
            } catch (e) {
                console.log(e)
                toastr.error("Email đã tồn tại")
            }
        })

        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('passwordInput');

        togglePassword.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            const spanIcon = document.getElementById("togglePassword");
            spanIcon.innerHTML=type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>';
        });
        const togglePasswordConfirm = document.getElementById('togglePasswordConfirm');
        const passwordInputConfirm = document.getElementById('passwordInputConfirm');

        togglePasswordConfirm.addEventListener('click', function() {
            const type = passwordInputConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInputConfirm.setAttribute('type', type);
            const spanIcon = document.getElementById("togglePasswordConfirm");
            spanIcon.innerHTML=type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>';
        });
    </script>
</th:block>
</body>
</html>