<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{web/layout/layout :: layout(~{::title},~{},~{:: #content},~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
<body>
<th:block id="content">
    <section class="py-4 bg-body-secondary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h2>Đăng nhập</h2>
                        <form id="form-login">
                            <div class="input-group mb-3 form-group">
                                <input type="text" class="form-control" placeholder="Nhập email"  id="input-email" name="email">
                                <span class="input-group-text">Email</span>
                            </div>
                            <div class="input-group mb-3 form-group">
                                <input type="text" class="form-control" placeholder="Nhập mật khẩu"  id="input-password" name="password">
                                <span class="input-group-text" >Password</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <button id="btn-login" type="submit">Đăng nhập</button>
                            </div>
                            <p class="mt-3">Nếu không có tài khoản, bạn có thể đăng ký <span><a th:href="@{/dang-ky}">tại đây</a></span></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>


<th:block id="js">
    <script th:inline="javascript">
        $('#form-login').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                },
            },
            messages: {
                email: {
                    required: "Email k được để trống",
                    email: "Email k đúng định dạng"
                },
                password: {
                    required: "Mật khẩu không được để trống",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });


        const formLoginEl = document.getElementById("form-login");
        const emailEl = document.getElementById("input-email");
        const  passwordEl = document.getElementById("input-password");

        formLoginEl.addEventListener("submit", async (e)=>{
            e.preventDefault();

            if (!$('#form-login').valid()){
                return;
            }

            const data = {
                email: emailEl.value,
                password: passwordEl.value
            }

            // Gọi API
            try {
                let res = await axios.post("/api/auth/login", data);
                toastr.success("Đăng nhập thành công")
                setTimeout(()=>{
                    window.location.href='/'
                },1000)
            } catch (e) {
                console.log(e)
                toastr.error(e.response.data.message);
            }
        })
    </script>
</th:block>
</body>
</html>