<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{:: #content},~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <th:block id="css">
        <style>
            .password-input-container {
                position: relative;
            }

            .toggle-password {
                cursor: pointer;
            }

            #passwordInput {
                padding-right: 30px; /* to accommodate the eye icon */
            }
        </style>
    </th:block>

</head>
<body>

<th:block id="content">
    <section class="py-4 bg-body-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <div>
                        <h2>Đổi mật khẩu</h2>
                        <form id="form-update">
                            <div class="password-input-container input-group mb-3 form-group">
                                <input type="password" id="oldPasswordInput" class="form-control" placeholder="Nhập mật khẩu cũ" name="oldPassword">
                                <span class="toggle-password input-group-text" id="toggleOldPassword">
                            <i class="fa-solid fa-eye"></i>
                            </span>
                            </div>
                            <div class="password-input-container input-group mb-3 form-group">
                                <input type="password" id="passwordInput" class="form-control" placeholder="Nhập mật khẩu mới" name="password">
                                <span class="toggle-password input-group-text" id="togglePassword">
                            <i class="fa-solid fa-eye"></i>
                            </span>
                            </div>
                            <div class="password-input-container input-group mb-3 form-group">
                                <input type="password" id="passwordInputConfirm" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmPassword">
                                <span class="toggle-password input-group-text" id="togglePasswordConfirm">
                            <i class="fa-solid fa-eye"></i>
                            </span>
                            </div>
                            <div>
                                <button id="btn-login" type="submit">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>


<th:block id="js">
    <script th:inline="javascript">
        $('#form-update').validate({
            rules: {
                oldPassword: {
                    required: true,
                },
                password: {
                    required: true,
                },
                confirmPassword:{
                    required:true,
                    equalTo: "#passwordInput",
                }
            },
            messages: {
                oldPassword: {
                    required: "Mật khẩu cũ không được để trống",
                },
                password: {
                    required: "Mật khẩu mới không được để trống",
                },
                confirmPassword:{
                    required:"Mật khẩu không được để trống",
                    equalTo: "Mật khẩu xác nhận không giống với mật khẩu mới",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
        let user = [[${#authentication.principal.user}]]
        const formUpdateEl = document.getElementById("form-update");
        let  passwordEl = document.getElementById("passwordInput");
        let confirmPasswordEl = document.getElementById("passwordInputConfirm")
        let oldPasswordEl = document.getElementById("oldPasswordInput")

        formUpdateEl.addEventListener("submit", async (e)=>{
            e.preventDefault();

            if (!$('#form-update').valid()){
                return;
            }
            const data = {
                oldPassword: oldPasswordEl.value,
                newPassword: passwordEl.value,
                confirmPassword:confirmPasswordEl.value,
            }

            // Gọi API
            try {
                let res = await axios.put(`/api/auth/update-password/${user.id}`, data);
                toastr.success("Cập nhật thành công")
                setTimeout(()=>{
                    window.location.href='/thong-tin-ca-nhan'
                },1000)
            } catch (e) {
                console.log(e)
                toastr.error("Mật khẩu cũ sai hoặc Mật khẩu mới và mật khẩu cũ giống nhau")
            }
        })

        const toggleOldPassword= document.getElementById('toggleOldPassword');
        const oldPasswordInput = document.getElementById('oldPasswordInput');

        toggleOldPassword.addEventListener('click', function() {
            const type = oldPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            oldPasswordInput.setAttribute('type', type);
            const spanIcon = document.getElementById("toggleOldPassword");
            spanIcon.innerHTML=type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>';
        });

        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('passwordInput');

        togglePassword.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            const spanIcon = document.getElementById("togglePassword");
            spanIcon.innerHTML=type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>';
        });
        const togglePasswordConfirm = document.getElementById('togglePasswordConfirm');
        const passwordInputConfirm = document.getElementById('passwordInputConfirm');

        togglePasswordConfirm.addEventListener('click', function() {
            const type = passwordInputConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInputConfirm.setAttribute('type', type);
            const spanIcon = document.getElementById("togglePasswordConfirm");
            spanIcon.innerHTML=type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>';
        });
    </script>
</th:block>
</body>
</html>