<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{web/layout/layout :: layout(~{::title},~{},~{:: #content},~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

</head>
<body>

<th:block id="content">
    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Phim hot</h3>
            </div>
            <div class="row">
                <div class="col-3" th:each="movie : ${ListPhimHot}">
                    <div class="movie-item">
                        <div class="movie-poster overflow-hidden">
                            <a th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                                <img class="w-100 h-100 rounded " th:src="${movie.getPoster()}" alt="movie-poster">
                            </a>
                        </div>
                        <a style="text-decoration: none; color: black" th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                            <p class="mt-2" th:text="${movie.getName()}">Queen of tears</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Phim bộ gần đây</h3>
                <a th:href="@{/phim-bo}">Xem thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie :${ListPhimBo}">
                    <div class="movie-item">
                        <div class="movie-poster overflow-hidden">
                            <a th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                                <img class="w-100 h-100 rounded " th:src="${movie.getPoster()}" alt="movie-poster">
                            </a>
                        </div>
                        <a style="text-decoration: none; color: black" th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                            <p class="mt-2" th:text="${movie.getName()}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Phim lẻ gần đây</h3>
                <a th:href="@{/phim-le}">Xem thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie :${ListPhimLe}">
                    <div class="movie-item">
                        <div class="movie-poster overflow-hidden">
                            <a th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                                <img class="w-100 h-100 rounded " th:src="${movie.getPoster()}" alt="movie-poster">
                            </a>
                        </div>
                        <a style="text-decoration: none; color: black" th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                            <p class="mt-2" th:text="${movie.getName()}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Phim chiếu rạp gần đây</h3>
                <a th:href="@{/phim-chieu-rap}">Xem thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie :${ListPhimChieuRap}">
                    <div class="movie-item">
                        <div class="movie-poster overflow-hidden">
                            <a th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                                <img class="w-100 h-100 rounded " th:src="${movie.getPoster()}" alt="movie-poster">
                            </a>
                        </div>
                        <a style="text-decoration: none; color: black" th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                            <p class="mt-2" th:text="${movie.getName()}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3>Tin tức</h3>
                <a th:href="@{/tin-tuc}">Xem thêm</a>
            </div>
            <div class="row">
                <div class="col-6 mt-2" th:each="blog :${ListBlog}">
                    <div class="bg-body-tertiary p-4 rounded" style="height: 200px;">
                        <a th:href="@{/tin-tuc/{id}/{slug}(id=${blog.getId()}, slug=${blog.getSlug()})}" ><h5 th:text="${blog.getTitle}">Top 10 Bộ Phim Cổ Trang Hoa Ngữ Sắp Chiếu Năm 2024</h5></a>
                        <p th:text="${blog.getCreatedAt}">Jan 23, 2024</p>
                        <p class="mb-0" th:text="${blog.getDescription}">Phim hoa ngữ năm 2024 với nhiều bom tấn hứa hẹn sẽ gây bão trên màn ảnh Hoa Ngữ vậy cùng điểm 10 bộ phim hoa ngữ sắp ra mắt năm 2024. ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>