<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{web/layout/layout :: layout(~{::title},~{},~{:: #content},~{:: #js})}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xem phim</title>
</head>

<body>

<th:block id="content">
    <!--CHI TIẾT PHIM VÀ PHIM-->
    <section class="py-4 bg-body-secondary">
        <div class="container ">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a style="text-decoration: none; color: black" th:href="@{/}">Motchill</a></li>
                        <li class="breadcrumb-item"><a style="text-decoration: none; color: black" href="#">Hàn Quốc</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${movie.getName()}">
                            Nữ Hoàng Nước Mắt
                        </li>
                    </ol>
                </nav>
            </div>

            <div id="screen" class="m-3">
                <video width="100%" controls th:src="${currentEpisode.videoURL}">
                    <source  type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="movie-item h-150">
                        <div class="overflow-hidden">
                            <img
                                    th:src="${movie.getPoster()}"
                                    class="img-fluid rounded"
                                    alt="movie-poster"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body pt-2 overflow-hidden">
                        <h3 class="card-title" th:text="${movie.getName()}">Nữ Hoàng Nước Mắt</h3>
                        <p class="card-text text-secondary" th:text="${movie.getName()}+' ('+${movie.getReleaseYear()}+')'">Queen of Tears (2024)</p>
                        <p class="card-text">
                            <small class="text-secondary" th:text="${movie.getCreatedAt()}">Apr 28, 2024</small>
                        </p>
                        <p>
                            <span th:text="${movie.getReleaseYear()}"></span> · <a style="text-decoration: none; color: black" href="#" th:text="${movie.country.getName()}">Hàn Quốc</a> ·
                            <span th:switch="${movie.getType()}">
                        <a style="text-decoration: none; color: black" th:case="${movieTypes.get(1)}" th:href="@{/phim-le}" >Phim lẻ</a>
                        <a style="text-decoration: none; color: black" th:case="${movieTypes.get(0)}" th:href="@{/phim-bo}" >Phim bộ</a>
                        <a style="text-decoration: none; color: black" th:case="${movieTypes.get(2)}" th:href="@{/phim-chieu-rap}" >Phim chiếu rạp</a>
                    </span>
                        </p>
                        <p>Thể Loại: <span th:each="genre, iterStat  : ${movie.getGenres()}"><a type="button" style="text-decoration: none; color: black" th:text="${genre.getName()}"></a><span th:if="${!iterStat.last}">, </span></span></p>
                        <p>Đạo diễn: <span th:each="director, iterStat : ${movie.getDirectors()}"><a type="button" th:text="${director.getName()}" style="text-decoration: none; color: black"></a><span th:if="${!iterStat.last}">, </span></span> </p>
                        <p th:text="${movie.getDescription()}">
                        </p>
                        <p>
                            Rating: <th:block th:text="${movie.getRating()}"></th:block> <i class="fas fa-star" style="color: #ffd43b"></i>
                        </p>

                        <div id="btnFavoriteGroup">
                            <button sec:authorize="isAuthenticated()" id="favoriteButton" class="favorite-btn" th:onclick="${favorite != null} ? 'toggleFavorite(' + ${movie.getId()} + ')' : 'toggleFavorite()'"  style="background-color: green;  color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;"><th:block th:if="${favorite != null}">Bỏ yêu thích</th:block><th:block th:unless="${favorite != null}">Yêu thích</th:block></button>
                            <button sec:authorize="!isAuthenticated()" id="favoriteButtonAnnotation" class="favorite-btn"  style="background-color: green;  color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Yêu thích</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--DIỄN VIÊN-->
    <section class="py-4 bg-body-secondary">
        <div class="container bg-dark-subtle rounded-4 p-4">
            <div class="row">
                <h2 class="mb-3">Danh sách diễn viên</h2>
                <div class="col-3" th:each="actor : ${movie.getActors()}">
                    <div class="actor-poster overflow-hidden d-flex justify-content-around">
                        <img class="rounded-circle " style="width: 100px; height: 100px " th:src="${actor.getAvatar()}" alt="movie-poster">
                    </div>
                    <p th:text="${actor.getName()}" class="d-flex justify-content-around"></p>
                </div>
            </div>
        </div>
    </section>

    <!--TẬP PHIM-->
    <section class="py-4 bg-body-secondary" th:if="${movie.getType()==movieTypes.get(0)}">
        <div class="container  rounded-4 p-4">
            <h2 class="mb-3">Danh sách tập</h2>
            <div class="row">
                <ul class="list-unstyled" >
                    <li  th:each="episode :${episodes}"  class="d-inline-block mr-2" > <a  th:href="@{/xem-phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug}, tap=${episode.orders})}"><button th:classappend="${episode.orders== currentEpisode.orders? 'btn-danger' :'btn-dark'}" type="button" class="btn btn-secondary mt-1" th:text="${episode.getName()}"></button></a></li>
                </ul>
            </div>
        </div>
    </section>

    <!--BÌNH LUẬN-->
    <section class="py-4 bg-body-secondary">
        <div class="container bg-dark-subtle rounded-4 p-4">
            <div class="comment-card">
                <h2>Bình luận</h2>
                <div class="input-group mb-3">
                    <p sec:authorize="!isAuthenticated()">
                        Để viết bình luận cần <span><a th:href="@{/dang-nhap}">đăng nhập</a></span>
                    </p>
                    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#review-modal" style="margin-left: auto">
                        Bình luận
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="review-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Tạo bình luận</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="form-review">
                                        <div class="d-flex flex-column justify-content-center align-items-center ">
                                            <div class="rating form-group">
                                        <span class="star" data-rating="1">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="2">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="3">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="4">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="5">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="6">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="7">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="8">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="9">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                                <span class="star" data-rating="10">
                                           <i class="fa-solid fa-star"></i>
                                        </span>
                                            </div>
                                            <div id="rating-value" ></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden"  id="rating-input" name="rating" />
                                        </div>
                                        <div class="mb-3 form-group">
                                            <label for="review-content" class="form-label">Nội dung đánh giá</label>
                                            <textarea class="form-control" id="review-content" rows="3" name="content"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary" id="btn-create-review">Tạo</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bg-light">
                <div class="row">
                    <div class="col-12 review-list">
                        <div class="comment-info bg-light-subtle rounded-5 p-3 mt-3" th:each="review :${reviews}">
                            <div class="d-flex align-items-center">
                                <img th:src="${review.getUser().getAvatar()}" alt="Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
                                <h5 class="ms-2" th:text="${review.getUser().getName()}">Người Bình Luận</h5>
                                <p class="pt-2 ms-2 text-body-tertiary" th:text="${#temporals.format(review.createdAt,'dd/MM/yyyy')}"><small>2 ngày trước</small></p>
                            </div>
                            <div class="comment-content ps-1 pt-2" th:text="${review.getContent()}">
                                <p>Phim diễn biến chậm. Được mấy tập cuối là cuốn. Mấy tập đầu tới giũa tua nhanh chút.</p>
                            </div>
                            <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id==review.user.id}">
                                <button  th:onclick="'openEditModal('+${review.getId()}+')'" style="border: none">Sửa</button>
                                <button  th:onclick="'deleteRv('+${review.getId()}+')'"  style="border: none">Xóa</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--PHIM ĐỀ CỬ-->
    <section class="py-4 bg-body-secondary">
        <div class="container bg-dark-subtle rounded-4 p-4">
            <div class="d-flex justify-content-start align-items-center mb-2">
                <i class="far fa-star" style="color: #FFD43B;"></i>
                <h3 class="ms-2">Phim đề cử</h3>
            </div>
            <div class="row">
                <div class="col-3" th:each="movie : ${ListPhimDeCu}">
                    <div class="movie-item">
                        <div class="movie-poster overflow-hidden">
                            <a th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                                <img class="w-100 h-100 rounded " th:src="${movie.getPoster()}" alt="movie-poster">
                            </a>
                        </div>
                        <a style="text-decoration: none; color: black" th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                            <p class="mt-2" th:text="${movie.getName()}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>



<th:block id="js">
    <script src="/web-assets/js/movie-favorite.js"></script>
    <script src="/web-assets/js/movie-review.js"></script>
    <script th:inline="javascript">
        const currentMovie =[[${movie}]];
        let reviews =[[${reviews}]]
        let user = [[${#authentication.principal.user}]]
        console.log(user)
        console.log(reviews)
        let favorites =[[${favorites}]]
        let favorite =[[${favorite}]]
        console.log(favorite)
        console.log(favorites)
    </script>
</th:block>
</body>
</html>
