.rating {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: #EDBB0E;
}
.hidden {
    display: none;
}